<div class="w-full bg-white">
  <div class="mx-auto px-6 lg:px-10 sm:px-6 w-full border-b shadow">
    <div class="flex items-center justify-between py-8 h-[70px] space-x-6">
      <p class="flex content-start font-bold text-sm sm:text-2xl">Angular Performance Optimized Search</p>
      <div class="flex justify-end items-center gap-6">
        <div class="relative">
          <div class="flex flex-row items-center gap-1">
            <mat-icon fontIcon="account_circle"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
